* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    
}

body {
   
   display: flex;
   font-family: sans-serif;
   background-color: #d7f1f4;
 
}

.container{ 
   margin: 50px auto;
   max-width: 600px;
   width: 100%;
   
   
   
}

.container form {
  width: 100%; 
  height: 100%;
  padding: 5% 10%;
  /* background-color: rgb(228, 255, 248); */
  border-radius: 10%;
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
  background-color: #f5f8ef;
}

.container form h2{
 color: black;
 font-weight: bold;
 font-size: 1.7em;
 letter-spacing: 0.5em;
 text-transform: uppercase;
 padding-bottom: 10px;
 padding-top: 15px;
}



.container form .form-control {
  width: 100%;
  height: 50px;
  background-color:white;
  /* border-radius: 8px; */
  border: 1px solid rgb(163, 163, 163);
  font-size: 0.8em;
  
}

.container form .btn {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 60px;
  border:3px solid rgb(77, 20, 74);
  cursor: pointer;
  font-size: 1.5em;
  border-radius: 15px;
  transition: .3s;
  padding-bottom: 30px;
  background-color: black;
  color: white;
  font-weight: bold;
  letter-spacing: 0.5em;
  
}

.container form .btn:hover {
background-color: rgb(88, 7, 84);
  
}

.container form .form-label {
  font-size: 1em;
  font-weight:600;
  letter-spacing: 0.2em;
  color: rgb(71, 71, 71);
  

}

.container form #exampleFormControlTextarea1 {
  max-height: 100px;
  height: 100%;
}

.container form .form-header {
 display: flex;
 justify-content: space-between;
 align-items: center;
 

}

.form-header .fas {

 cursor: pointer;
 transition: .3s;
  
}

.form-header .fas:hover {
 color: rgb(77, 20, 74);
  
}