body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
}

/* Nav section */
.addCardSection {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
}
.title > i {
  margin: auto 1rem;
}
.title > span {
  font-weight: 550;
}

/* Add-card */
.modal-header {
  background-color: rgb(202, 202, 202);
}
.modal-header > h2 {
  color: black;
  font-weight: bold;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  margin: 0;
}
.addCard {
  background-color: rgb(109, 109, 109);
  transition: 0.3s;
  border: none;
}
.addCard:hover,
.addCard:focus,
.addCard:active {
  background-color: rgb(71, 71, 71);
  border: none;
  transform: scale(1.1);
}

.btn-close {
  font-size: 1.5rem;
  background-color: rgb(255, 104, 104);
  transition: 0.3s;
}
.btn-close:hover {
  background-color: rgb(255, 58, 58);
  transform: scale(1.1);
}
.container {
  padding: 0;
}
.container > form {
  width: 100%;
  height: 100%;
  padding: 5% 10%;
  background-color: rgb(202, 202, 202);
}
.container > form > .form-control {
  width: 100%;
  height: 50px;
  background-color: white;
  border: 1px solid rgb(163, 163, 163);
  font-size: 0.8em;
}
.container > form > .btn {
  width: 100%;
  cursor: pointer;
  font-size: 1.5em;
  border-radius: 15px;
  transition: 0.3s;
  background-color: rgb(109, 109, 109);
  color: white;
  font-weight: bold;
  letter-spacing: 0.5rem;
  text-align: center;
  padding: 1rem;
}
.container > form > .btn:hover {
  background-color: rgb(71, 71, 71);
  letter-spacing: 0.8rem;
  transform: scale(1.05);
}
.dateDiv {
  position: relative;
}
.dateDiv > input {
  padding-left: 30px;
}
.dateDiv > i {
  position: absolute;
  left: 10px;
  top: 44px;
}
.additionalBtns {
  /* display: none; */
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}
.additionalBtns > button {
  width: 45%;
  height: 3rem;
  border-radius: 15px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2rem;
  border: none;
  color: white;
  transition: 0.3s;
}
.additionalBtns > button:hover {
  letter-spacing: 0.4rem;
}
.resetBtn {
  background-color: rgb(151, 206, 164);
}
.resetBtn:hover {
  background-color: rgb(91, 202, 119);
  transform: scale(1.1);
}
.deleteBtn {
  background-color: rgb(194, 127, 127);
}
.deleteBtn:hover {
  background-color: rgb(255, 104, 104);
  transform: scale(1.1);
}

/* main section */
.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  width: calc(100% - 3rem);
  justify-content: space-around;
}
/* to-start, in-progress, in-review */
.main-column {
  width: 30%;
  min-width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  align-items: flex-start;
  background-color: rgb(163, 163, 163);
}
.main-column > h2 {
  width: 100%;
  padding: 1rem;
  background-color: rgb(163, 163, 163);
}
.card-display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 65vh;
  overflow: auto;
  background-color: rgb(163, 163, 163);
}
.card {
  margin: 0 0.5rem 1rem;
  width: 15rem;
  max-height: 15rem;
}
.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card-header > p,
.card-footer > p {
  margin: 0;
}
.card-header > p {
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.card-header > i {
  cursor: pointer;
  padding-left: 10px;
}
.card-header > i:hover {
  transition: 0.3s;
  transform: scale(1.1);
}
.card-description {
  height: 10rem;
  overflow: auto;
  padding: 1rem;
  font-size: 0.9rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.card-description::-webkit-scrollbar {
  display: none;
}
.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.3rem;
}
.card-footer > p:first-child {
  width: 65%;
  height: 1.5rem;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.card-footer > p:last-child {
  width: 35%;
  text-align: center;
}

/* to-start, in-progress, in-review ends */

/* completed section */
.complete {
  height: auto;
  margin-top: 2rem;
  background-color: rgb(163, 163, 163);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.complete > h2 {
  cursor: pointer;
}
.complete > h2:hover {
  transition: 0.3s;
  transform: scale(1.1);
}
.complete > h2 > i {
  margin: 1rem;
}
.complete-column {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 20rem;
  overflow: auto;
}
footer {
  margin: 1rem auto;
}
/* .complete-column > .card {
  margin: 1.5rem;
} */
/* completed section ends */
/* main section ends */

/* media query */
@media screen and (max-width: 1000px) {
  .main-column:last-child {
    margin: 2rem auto;
  }
}

@media screen and (max-width: 700px) {
  .main-column {
    margin-top: 2rem;
  }
  .addCardSection {
    flex-direction: column;
  }
  .addBtn > button {
    margin-top: 1rem;
    width: 300px;
  }
}
/* media query ends */
